<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="/css/styles.css">
       <title>about</title>
        <link rel="icon" href="/img/weather.png">
        </head>
        <body>
           <div class="main-content">
            {{>header}}
            <img class="portrait"src="/img/robot.png">
           </div>
          
            {{>footer}}
        </body>
    
</html>